/* Write your code here: */

/* Group Selectors */

h1,
h2 {
  color: blueviolet;
}

/* Child Selector */

.box > p {
  color: firebrick;
}

/* descendant selector */

ul li {
  color: blue;
}

/* chaining selectors */

li.done {
  color: seagreen;
}

/* combining selectors */

ul > p.done {
  font-size: 0.5rem;
}
